
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
.column {
  float:left;
  width: 33.3%;
  height: 65%;    
  margin-top:90px;
  margin-bottom: 60px;
 
  padding: 0 50px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.container {
  padding: 0 16px;
  color: #999;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  width:auto;
  word-wrap:break-word;
  
}
body{
    background-image: url("bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}
img {
    border-radius: 50%;
    width: 40%;
}
.content{
    text-align-last: right;
    padding-right: 40px;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: larger;
     
}
